.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    /* margin-right: auto; */
    /* margin-left: auto; */
}
.banner{
    background-color: black;
}
.top{
    margin-bottom: 1.5rem;
}

h1,h2{
    font-size: 2.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin-bottom: 0;
    font-family: inherit;
    font-weight: 500;
    /* line-height: 1.2; */
    /* text-align: left; */
    margin-left: 3rem;
    color: blanchedalmond;
}
h2{
    color: black;
}
h4{
    text-align: center;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornsilk;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}


.underline{
    font-weight: bold;
    width: 1rem;
    height:.75rem;
}

.card{
    text-align: center;
}
.down{
    position: relative;
    text-align: center;
    
}
.first{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 4rem;
    bottom: 4rem;
}
.second{
    font-size: 3.7rem;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    bottom: 4.5rem;
    left: 15rem;
    position: absolute;
}
.btn-success{

}
